@media (min-width: 1200px){
    .containt{
        width: 1170px;
    }
    .container{
        width: 900px !important;
    }
}
@media (min-width: 992px){
    .containt{
        width: 90%;
    }
    .container{
        width: 800px !important;
    }
}
/* @media (min-width: 768px){
.navbar-static-top {
        background:;
    }
} */
*{
    margin:0;
    padding: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
i{
    font-size: 25px
}
a{
    text-decoration: none !important;
}
time{
    font-family: "Open Sans Condensed","Avenir Next Condensed","DIN Condensed","sans-serif-condensed" !important;
}
.title time{
    margin-top: -100px;
    margin: 5px auto;
    color: #aa8c8c;
    font-size: 18px;
}
.containt {
    font-weight: 400;
    margin: auto;
    color: #aa8c8c;
}
.containt{
    font-family: "Open Sans Condensed","Avenir Next Condensed","DIN Condensed","sans-serif-condensed";
}

.top {
    margin-top: -100px;
    margin-bottom: 30px !important;
    margin: 5px auto;
    color: #aa8c8c;
    font-size: 18px;
}
.nav>li>a{
    font-size: 15px;
    line-height: 1.4;
    color:black;
}
.nav>li>a:hover{
    background-color: #fff0 !important;
}
.navbar-brand{
    color: #000;
}
.icon-bar{
    background-color: #563d7c;
}
.title{
    margin-bottom: 60px;
}
.title h1{
    font-size: 50px;
    font-weight: bolder;
}
.content{
    font-size: 18px;
    line-height: 1.95em;
    letter-spacing: .6px;
    word-break: normal;
    word-wrap: break-word;
    text-indent:2em; 
}
.all{
    margin-top: -20px;
    margin-bottom: 30px;
}

.footer{
    margin-top: 100px;
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 30px;
}