<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{datas[0]}}</title>
    <link rel="stylesheet" href="/static/css/pages.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap-waterfall.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <link rel="icon" href="/static/img/favicon.ico">
    <link href="https://xxxtang233.github.io/static/font-awesome/css/all.min.css" rel="stylesheet">
</head>


<body>
    <header class="navbar navbar-static-top nav" id="top">
        <div class="containt">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <i class="fal fa-home-alt"></i>
                </a>
            </div>
        </div>
    </header>

    <div class="all">
        <div class="container top">
            <p class="fl">{{datas[3]}}</p>
            
        </div>

        <div class="container">
            <div class="title">
                <h1>{{datas[0]}}</h1>
                <time class="fl">{{datas[2]}}</time>
            </div>
            {% for r in content %}
            <p class="content">
                {{ r }}
                <!-- <br>
                {{datas[1]}}
                <br>XXXXXXXXXXX<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br> -->
            </p>
            {% endfor %}
        </div>
    </div>

    <div class="footer container">
        Copyright©2021 只是条咸鱼罢了 
    </div>

</body>

</html>